/* 
    Document   : tabby_cats
    Created on : Apr 1, 2014, 11:57:52 AM
    Author     : Lea
    Description:
        The Tab-B plugin does what it sounds like
*/

#tabby-cat-carrier{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10047;
}

.tabby-cat {
	position: absolute;
}